* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  a {
    text-decoration: none;
  }

}

body{
  overflow-x: hidden;

}
html{
  scroll-behavior: smooth;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');



$main-col: rgb(12, 10, 41);
$white-col: rgb(255, 255, 255);


// mixins 

@mixin dflex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@import "scss/nav";
@import "scss/contentbox";





// Heading styling
h1 {
  //styleName: H1-Heading;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: 0em;
}
h2 {
  //styleName: H2-Title;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;

}

h3 {
  //styleName: H3-Subtitle;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0em;
}
h4 {
  //styleName: H4-CTA;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
}
h5 {
  //styleName: H5-Body text;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.02em;
}
h6 {
  //styleName: H6-Paragraph;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.005em;
}

// button styling




